<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120788929170-t9cf8qpb28uehqrlq4fn33o5p5nd0bki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120788929170-t9cf8qpb28uehqrlq4fn33o5p5nd0bki</string>
	<key>API_KEY</key>
	<string>AIzaSyA3Esf5-dZRHlLNwdl4DlhjL4-WyTLr6yQ</string>
	<key>GCM_SENDER_ID</key>
	<string>120788929170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rnTest.com.app</string>
	<key>PROJECT_ID</key>
	<string>rntest-4f44d</string>
	<key>STORAGE_BUCKET</key>
	<string>rntest-4f44d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120788929170:ios:f61880b74dae77f071f44b</string>
</dict>
</plist>